<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"> </script>
	</head>
	<body>
		<section class="section">
			<div class="maincolumns columns is-desktop is-vcentered">
				<div class="column is-10 is-offset-1 notification is-info is-light box container">
					<div class="title">
						Purchase Items
					</div>
					<% if (getAllItems) { %>
						<div class="table-container">
						<table class="table is-bordered is-hoverable is-striped is-narrow">
							<thead>
							<tr>
								<th> Name </th>
								<th> Description </th>
								<th> Cost </th>
								<th> Quantity </th>
							</tr>
							</thead>
							<tbody>
								<% let totalCost = 0; %>
								<% getAllItems.forEach(item => { %>
								<tr>
									<td><%= item.item_name %></td>
									<td><%= item.item_description %></td>
									<td><%= item.cost %></td>
									<td><%= item.quantity %></td>
								</tr>
								<% totalCost += item.cost * item.quantity; %>
								<% }); %>
							</tbody>
							<tfoot>
								<tr> 
									<td colspan="2">Total:</td>
									<td>$<%= totalCost.toFixed(2) %></td>
									<td><%= getAllItems.length %> items</td>
								</tr>
							</tfoot>
						</table>
						</div>
					<% } %>
				</div>
			</div>
		</section>
	</body>
</html>
