<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"> </script>
	</head>
	<body>
		<section class="section">
			<div class="maincolumns columns is-desktop is-vcentered">
				<div class="column is-10 is-offset-1 notification is-info is-light box container">
					<div class="title">
						Purchase Items
					</div>
					<% if (getAllItems) { %>
						<div class="table-container">
						<table class="table is-bordered is-hoverable is-striped is-narrow">
							<thead>
							<tr>
								<th> Name </th>
								<th> Description </th>
								<th> Cost </th>
								<th> Quality </th>
							</tr>
							</thead>
							<% let i=0; %>
							<% for(i=0; i < getAllItems.length; i++) { %>
							<tr>
								<td><%= getAllItems[i].item_name %></td>
								<td><%= getAllItems[i].item_description %></td>
								<td><%= getAllItems[i].cost %></td>
								<td><%= getAllItems[i].quantity %></td>
							</tr>
							<% } %>
							<tfoot>
								<tr> <td colspan="2">
								There are <%= i %> items fro a total of $ sum.
								</td> </tr>
							</tfoot>
						</table>
						</div>
					<% } %>
				</div>
			</div>
		</section>
	</body>
</html>
